version: '3.8'

services:
  chessapi:
    image: chessapi:latest
    container_name: chessapi
    restart: always
    network_mode: host
    environment:
      - SERVER_PORT=8080
      - SERVER_ADDRESS=0.0.0.0

  telegram-chess-bot:
    image: vannjok/telegram-chess-bot:latest
    container_name: telegram-chess-bot
    restart: always
    network_mode: host
    environment:
      - API_BASE_URL=http://localhost:8080/api/games
      - TELEGRAM_BOT_TOKEN=${TELEGRAM_BOT_TOKEN}